# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating system files
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local system configuration / secrets
.env
.env.*

# Local repository files
.opencode/
firmware.bin
*.exe
*.pt

# Ignore local photographs and setup images
*.jpg
*.jpeg
*.png
*.heic
*.bmp
*.gif
